<nav class="hide-in-xs-mobile">
	<div class="nav-buttons">
		<%= image_tag 'nav-button.png', class: "hide-on-click" %>
		<%= image_tag 'nav-button-angle.png', class: "show-on-click" %>
	</div>
	<ul class="slide-on-click">
		<li><a class="info-button">INFO</a> |</li>
		<li>&nbsp;<a class="contact-button">CONTACT</a></li>
	</ul>
</nav>
<div id='splash'>
	<div class="video_background">
    <video preload="auto" autoplay loop>
      <source src="/videos/background-video.mp4" type="video/mp4" />
    </video>
  </div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center">
				<%= link_to(image_tag('logo.png', class: "logo"), root_path) %>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="col-sm-10 col-sm-offset-1 show-on-click-info">
					<p class=" text-justify">Assets To Humanity is a social enterprise grant maker and we believe the purpose of philanthropy is to empower. Our grants are targeted to empower American children by providing high quality nutrition, education and valuable life lessons. The program provides grants to specialized and fully vetted regional non-profits as to directly measure the impact of children's lives changed from this initiative.</p>
				</div>
				<div class="col-sm-10 col-sm-offset-1 show-on-click-contact">
					<p><a href="tel:+18885442037">(888) 544-2037</a></p>
					<p><a href="mailto:invest@rastegarequitypartners.com">INVEST@RASTEGAREQUITYPARTNERS.COM</a></p>
					<p><a href="https://www.google.com/maps/place/KPMG+Centre,+717+N+Harwood+St+%23510,+Dallas,+TX+75201/@32.8287865,-97.1765056,9.83z/data=!4m5!3m4!1s0x864e9923cffa90fb:0xb759cc7f60589ac!8m2!3d32.7854804!4d-96.7983002" target="_blank"> 717 N HARWOOD ST, SUIT 510, DALLAS, TX, 75201</a></p>
				</div>
			</div>
			<div id="subscribe" class="col-xs-12 text-center">
				<p class="show-on-submit success">You Have successfully subscribed to your newsletter!</p>
				<p class="show-on-submit error">Oops! Please verify your email or try again later.</p>
				<div class="borderTopBottom subscribe-div">
					<span class="enter-email">ENTER YOUR EMAIL</span><span class="angle-right">&gt;</span>
					<%= form_tag('/splash/subscribe', method: 'post', id: 'subscribing', remote: true) do %>
						<input type='email' name="email" class="show-on-click-subscribe" id="subscribe-email" placeholder="YOUR EMAIL HERE" autofocus><span class="angle-right-submit show-on-click-subscribe hide-on-ajax">&gt;</span><div class='uil-spin-css' style='-webkit-transform:scale(0.1)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
					<% end %>
				</div>
				<br><br>
			</div>
		</div>
	</div>
</div>












































