<!DOCTYPE html>
<html>
<head>
  <title>Assets To Humanity</title>
  
  <%= javascript_include_tag 'application'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="preloader"></div>
	<%= yield %>

</body>
</html>
